nav {
    border: solid black 5px;
    background: url("../images/header.PNG");
    background-position: center;
    width:70%; 
    margin-left: 15%;
    margin-right: 15%;
    
}
body{
    background: url("../images/background.jpg");
    background-position: cover;
}

.brand {
    display: inline;
}

section{
    padding: 10px;
    height: 90vh;
    margin-top: 10px;
    border: solid black 5px;
    background-color: white;


}

#game-pic-holder{
    border: solid black 5px;
    max-width: 50%;
    height: 50vh;
    background-color: white;
}

#twitch-streamer-container{
    margin-top: 10px;
    border: solid black 5px;
    background-color: white;

}

.stream {
    margin: 5px;
    padding: 10px;
}

.stream p {
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
}